@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-1: 'Poppins', sans-serif;
    --font-2: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-2);
}
body {
    overflow-x: hidden;
}
header{
    height: 200px;
    background: #2D2821;
}
header>div {
    position: relative;
    top: 30px;
    left: 100px;
    display: inline-block;
}
header>div h1{
    color: white;
    font-weight: 400;
    font-size: 2em;
}
header>div h1 span {
    color: #9A6A27;
}
/* NAV */
.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 130px;
    position: relative;
    bottom: 8px;
}
.nav1 div{
    padding: 10px;
}
.nav1 div a {
    color: #9A6A27;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}
.nav1 div a:hover{
    color: #6e4c1b;
    transition: 200ms;
}
    /* MAIN */

.div-img-museu {
    position: relative;
    left: 95px;
    bottom: 80px;
    display: inline-block
}
.div-img-museu img {
    width: 100%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.479);
}
.div-img-depoimento {
    position: relative;
    left: 145px;
    bottom: 80px;
    display: inline-block;
}
.div-img-depoimento img {
    width: 100%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.479);
}

/* ASIDE */

aside {
    position: relative;
    bottom: 70px;
    left: 80px;
    display: flex;
}
aside h2 {
    color: green;
    font-size: 1.2em;
}
video {
    padding-top: 15px;
    width: 400px;
}
.vid2 {
    width: 300px;
}
aside div {
    padding-left: 20px;
    position: relative;

}
.div2 {

}
/* Formulario Visita */

section {
    width: 298px;
    height: 150px;
    left: 35px;
    background: #cdc8b1;
    position: relative;
    padding: 10px 27px 27px;
}
section h3{
    font-size: 1em;
    padding-top: 12px;
    color: #936E54;
    padding-bottom: 12px;
}
form {

}
.botao {
    background: #9D9175;
    color: white;
    border: none;
    padding: 10px;
    width: 300px;
    font-size: 1em;
    font-weight: 700;
}
.div-botao {
    padding-top: 10px;
}

/* footer */

.nav2 {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.nav2 div {

    padding: 10px;
    
}
.nav2 a {
    text-decoration: none;
    color: #9A6A27;
    font-weight: 500;

    font-size: 0.9em;
}
@media (max-width: 1246px) {
    /* HEADER */
    nav{
        margin-right: 80px;
    }
    nav div a {
        font-size: 0.85em;
    }
    /* MAIN Primeiras duas imgs */
    .div-img-museu {
        left: 55px;
    }
    .div-img-museu img {
        width: 90%;
    }
    .div-img-depoimento {
        left: 0px;
    }
    .div-img-depoimento img {
        width: 90%;
    }
}
@media (max-width: 1073px) {
    /* HEADER */
    header>div h1 {
        font-size: 1.8em;
    }
    nav div a {
        font-size: 0.7em;
    }
    /* MAIN Primeiras duas imgs */
    .div-img-museu {
        left: 55px;
    }
    .div-img-museu img {
        width: 500px;
        height: 288px;
    }
    .div-img-depoimento {
        left: 80px;
        width: 350px;
    }
    .div-img-depoimento img {

    }
}
@media (max-width: 953px) {
    /* HEADER */
    header>div h1 {
        font-size: 1.6em;
    }
    nav div a {
        font-size: 0.55em;
    }
    /* MAIN Primeiras duas imgs */
    .div-img-museu {
        left: 55px;
    }
    .div-img-museu img {
        width: 440px;
        height: 288px;
    }
    .div-img-depoimento {
        left: 80px;
        width: 300px;
    }
    .div-img-depoimento img {
        width: 280px;
        height: 288px;
    }
}
@media (max-width: 854px) {
    /* HEADER */
    header>div {
        left: 60px;
    }
    nav{
        margin-right: 40px;
    }
    header>div h1 {
        font-size: 1.2em;
    }
    nav div a {
        font-size: 0.45em;
    }
        /* MAIN Primeiras duas imgs */
        .div-img-museu {
            left: 75px;
            bottom: 80px;
        }
        .div-img-museu img {
            width: 400px;
            height: 208px;
        }
        .div-img-depoimento {
            left: 100px;
            width: 190px;
        }
        .div-img-depoimento img {
            width: 190px;
            height: 208px;
        }
}
@media (max-width: 800px) {
    /* HEADER */
    header{
        height: 200px;
        background: #2D2821;
    }
    header>div {
        display: flex;
        justify-content: center;
        position: relative;
        top: 40px;
        left: 0px;
    }
    header>div h1 {
        font-size: 1.7em;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: 65px;
        margin-right: 0px;
    }
    nav div a {
        font-size: 0.75em;
    }
        /* MAIN Primeiras duas imgs */
        .div-img-museu {
            bottom: 20px;
            display: block;
            left: 0px;
            margin: auto;
            width: 500px;
            height: 258px;
        }
        .div-img-museu img {
            width: 500px;
            height: 258px;
        }
        .div-img-depoimento {
           left: 100px;
           width: 190px;
           bottom: -10px;
        }
        .div-img-depoimento img {
            width: 190px;
            height: 208px;
        }
}
@media (max-width: 604px) {
    /* HEADER */
    header>div h1 {
        font-size: 1.5em;
    }
    nav div a {
        font-size: 0.6em;
    }
    /* MAIN Primeiras duas imgs */
    .div-img-museu {
        bottom: 20px;
        display: block;
        left: 0px;
        margin: auto;
        width: 450px;
        height: 238px;
    }
    .div-img-museu img {
        width: 450px;
        height: 238px;
    }
    .div-img-depoimento {
       left: 100px;
       width: 190px;
       bottom: -10px;
    }
    .div-img-depoimento img {
        width: 190px;
        height: 208px;
    }
}
@media (max-width: 497px) {
    /* HEADER */
    header{
        height: 150px;
        background: #2D2821;
    }
    header>div h1 {
        font-size: 1.4em;
    }
    nav {
        top: 50px;
    }
    nav div a {
        font-size: 0.45em;
    }
     /* MAIN Primeiras duas imgs */
     .div-img-museu {
        bottom: 20px;
        display: block;
        left: 0px;
        margin: auto;
        width: 350px;
        height: 188px;
    }
    .div-img-museu img {
        width: 350px;
        height: 188px;
    }
    .div-img-depoimento {
       left: 100px;
       width: 190px;
       bottom: -10px;
    }
    .div-img-depoimento img {
        width: 190px;
        height: 208px;
    }
}
@media (max-width: 388px) {
    /* HEADER */
    header>div h1 {
        font-size: 1.1em;
    }
    nav div a {
        font-size: 0.3em;
    }
    /* MAIN Primeiras duas imgs */
    .div-img-museu {
        bottom: 20px;
        display: block;
        left: 0px;
        margin: auto;
        width: 300px;
        height: 158px;
    }
    .div-img-museu img {
        width: 300px;
        height: 158px;
    }
    .div-img-depoimento {
       left: 100px;
       width: 190px;
       bottom: -10px;
    }
    .div-img-depoimento img {
        width: 190px;
        height: 208px;
    }
}
@media (max-width: 344px) {
    /* HEADER */
    header>div h1 {
        font-size: 1em;
    }
    nav div a {
        font-size: 5.4px;
    }
    
}