@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* GERAL HEADER */

header {
    background-color: #2D281F;
    height: 150px;
}
header h1 {
    display: inline-block;
    margin: 30px;
    margin-left: 165px;
    font-weight: 400;
}
header span {
    color: #b06f20;
}

/* NAV */

nav {
    display: inline-block;
    float: right;
    justify-content: space-around;
    margin: 30px;
    margin-right: 170px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #b06f20;
}

/* IMG MUSEU E DEPOIMENTO */

.imgs_initials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img_museu {
   width: 800px;
   margin-right: 30px;
}
.img_depoimento {
    width: 350px;
}
#art3 {
    background-color: #E8DCD4;
}
#art3 h3 {
    color: #8F6E57;
}

/* ARTIGOS */

.div_artigos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div_artigos article {
    margin: 10px;
    padding: 10px;
}
#art1 {
    background-color: #b06f20;
    color: green;
}
#art2 {
    background-color: aqua;
    color: green;
}

.div_artigos h2 {
    color: green;
    font-size: 1.2em;
}
#art1 video {
    width: 400px;
}
#art2 img {

}